<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'crewing:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:crew-list' %}">Crew</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:vessel-list' %}">Vessels</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:vessel-type-list' %}">Vessel types</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:company-list' %}">Companies</a></li>
  <li class="list-group-item"><a href="{% url 'crewing:position-list' %}">Crew ranks</a></li>
{#  <li class="list-group-item"><a href="{% url 'crewing:company-list' %}">All manufacturers</a></li>#}
</ul>
