{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ crew.username }}
    <a href="{% url "crewing:crew-delete" pk=crew.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url "crewing:crew-update" pk=crew.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>


  <p><strong>First name:</strong> {{ crew.first_name }}</p>
  <p><strong>Last name:</strong> {{ crew.last_name }}</p>
  <p><strong>Position:</strong> {{ crew.position }}</p>
  <p><strong>Date of joining:</strong> {{ crew.date_of_joining }}</p>
  <p><strong>Date of leaving:</strong> {{ crew.date_of_leaving }}</p>
  <p><strong>Vessel:</strong> {{ crew.vessel }}</p>

  {% if crew.vessel_type.all %}
    <p><strong>Diplomas:</strong> {{ crew.vessel_type.all|join:", " }}</p>
  {% else %}
    <p>No diplomas!</p>
  {% endif %}

{% endblock %}