{% extends "base.html" %}

{% block content %}
  <h1>
    Position: {{ position.name }}
{#    <a href="{% url "crewing:crew-delete" pk=crew.id %}" class="btn btn-danger link-to-page">#}
{#      Delete#}
{#    </a>#}
{##}
{#    <a href="{% url "crewing:crew-update" pk=crew.id %}" class="btn btn-secondary link-to-page">#}
{#      Update#}
{#    </a>#}
  </h1>

  <p><strong>Description:</strong> {{ position.responsibility }}</p>

  <div class="ml-3">
    <h4>Sailors</h4>

    {% for sailor in position.sailors.all %}
        <hr>
      <p><a href="{{ sailor.get_absolute_url }}">{{ sailor.last_name }}  {{ sailor.first_name }} {{ sailor.salary }}</a></p>
    {% empty %}
      <p>No sailors!</p>
    {% endfor %}
  </div>
{% endblock %}